body {
    color: black;
    background: white;
    font-family: 'Monaco', monospace;
    size: 13;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 20%;
    margin-right: 20%;
}

div.navigation > * { 
    margin-right: 1%;   
}

div.content {
    margin-top: 10%;
}

div.column {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type:none;
}
